<ion-content [fullscreen]="true" class="background" >

  <div class="container_form ">
    <ion-list class="input1">
      <ion-item color="pink">
        <ion-label position="floating">
          NOMBRE DE LA GUIA
        </ion-label>
        <ion-input>

        </ion-input>
      </ion-item>
  </ion-list>
  <ion-list class="input2">
    <ion-item color="estilo4">
      <ion-label position="floating">
        PREGUNTAS DESEADAS
      </ion-label>
      <ion-input>
      </ion-input>
    </ion-item>
</ion-list>

<p id="titulo">
  TITULO EJEMPLO
</p>

<ion-list class="input4">
  <ion-item color="estilo2">
    <ion-label position="floating">
      Respuesta 1
    </ion-label>
    <ion-input>
    </ion-input>
  </ion-item>
</ion-list>

<ion-list class="input4">
  <ion-item color="estilo2">
    <ion-label position="floating">
      Respuesta 2
    </ion-label>
    <ion-input>
    </ion-input>
  </ion-item>
</ion-list>

<ion-list class="input4">
  <ion-item color="estilo2">
    <ion-label position="floating">
      Respuesta 3
    </ion-label>
    <ion-input>
    </ion-input>
  </ion-item>
</ion-list>

<ion-list class="input4">
  <ion-item color="estilo2">
    <ion-label position="floating">
      Respuesta 4
    </ion-label>
    <ion-input>
    </ion-input>
  </ion-item>
</ion-list>
  </div>
</ion-content>

