<ion-header>
  <script src="Crear-guias.js"></script>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="nombre-guia"> </ion-back-button>
    </ion-buttons>

    <ion-title> {{nombre}} </ion-title>

    <ion-button
      color="pink"
      slot="end"
      class="btn_toolbar"
      shape="round"
      href="inicio"
    >
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>

    <ion-button
      color="pink"
      slot="end"
      class="btn_toolbar"
      shape="round"
      *ngIf="cantidadPreguntasI == 1"
      (click)="save1()"
      type="button"
    >
      <ion-icon name="save-outline"> </ion-icon>
    </ion-button>
    <ion-button
      color="pink"
      slot="end"
      class="btn_toolbar"
      shape="round"
      *ngIf="cantidadPreguntasI == 2"
      (click)="save2()"
      type="button"
    >

  </ion-button>
  <ion-button
    color="pink"
    slot="end"
    class="btn_toolbar"
    shape="round"
    *ngIf="cantidadPreguntasI == 3"
    (click)="save3()"
    type="button"
  >
      <ion-icon name="save-outline"> </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
  <div class="container_form" *ngIf="cantidadPreguntasI == 1">
    <ion-list class="input1" input1="pregunta">
      <ion-item color="pink">
        <ion-label position="floating"> Pregunta 1</ion-label>
        <ion-input type="text" [(ngModel)]="pregunta1"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 1 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta1"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta2"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 3 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta3"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 4 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta4"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="inputCorrecta">
      <ion-item color="estilo5">
        <ion-label position="floating"> Correcta </ion-label>
        <ion-input type="number" [(ngModel)]="correcta1"> </ion-input>
      </ion-item>
    </ion-list>
  </div>

  <!--Eleccion de dos preguntas-->

  <div class="container_form" *ngIf="cantidadPreguntasI == 2">
    <!--Pregunta 1-->

    <ion-list class="input1">
      <ion-item color="pink">
        <ion-label position="floating"> Pregunta 1</ion-label>
        <ion-input type="text" [(ngModel)]="pregunta1"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 1 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta1"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta2"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 3 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta3"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 4 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta4"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="inputCorrecta">
      <ion-item color="estilo5">
        <ion-label position="floating"> Correcta </ion-label>
        <ion-input type="number" [(ngModel)]="correcta1"> </ion-input>
      </ion-item>
    </ion-list>

    <!--Pregunta 2-->

    <ion-list class="input1" input1="pregunta">
      <ion-item color="pink">
        <ion-label position="floating"> Pregunta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="pregunta2"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 1 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta5"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta6"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 3 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta7"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 4 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta8"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="inputCorrecta">
      <ion-item color="estilo5">
        <ion-label position="floating"> Correcta </ion-label>
        <ion-input type="number" [(ngModel)]="correcta2"> </ion-input>
      </ion-item>
    </ion-list>
  </div>

  <!--Eleccion de tres preguntas-->

  <div class="container_form" *ngIf="cantidadPreguntasI == 3">
    <!--Pregunta 1-->

    <ion-list class="input1">
      <ion-item color="pink">
        <ion-label position="floating"> Pregunta 1</ion-label>
        <ion-input type="text" [(ngModel)]="pregunta1"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 1 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta1"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta2"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 3 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta3"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 4 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta4"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="inputCorrecta">
      <ion-item color="estilo5">
        <ion-label position="floating"> Correcta </ion-label>
        <ion-input type="number" [(ngModel)]="correcta1"> </ion-input>
      </ion-item>
    </ion-list>

    <!--Pregunta 2-->

    <ion-list class="input1" input1="pregunta">
      <ion-item color="pink">
        <ion-label position="floating"> Pregunta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="pregunta2"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 1 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta5"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta6"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 3 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta7"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 4 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta8"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="inputCorrecta">
      <ion-item color="estilo5">
        <ion-label position="floating"> Correcta </ion-label>
        <ion-input type="number" [(ngModel)]="correcta2"> </ion-input>
      </ion-item>
    </ion-list>

    <!--Fin Pregunta 2-->

    <!--Pregunta 3-->

    <ion-list class="input1" input1="pregunta">
      <ion-item color="pink">
        <ion-label position="floating"> Pregunta 3 </ion-label>
        <ion-input type="text" [(ngModel)]="pregunta3"> </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 1 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta9"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 2 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta10"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 3 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta11"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="input">
      <ion-item color="estilo2">
        <ion-label position="floating"> Respuesta 4 </ion-label>
        <ion-input type="text" [(ngModel)]="respuesta12"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-list class="inputCorrecta">
      <ion-item color="estilo5">
        <ion-label position="floating"> Correcta </ion-label>
        <ion-input type="number" [(ngModel)]="correcta3"> </ion-input>
      </ion-item>
    </ion-list>
    <!--Fin Pregunta 2-->
  </div>
</ion-content>
