<ion-header>
  <script src="Crear-guias.js"></script>
  <ion-toolbar color="pink">
    <ion-title> {{nombre}} </ion-title>

    <ion-button
      color="pink"
      slot="end"
      class="btn_toolbar"
      shape="round"
      (click)="listo()"
    >
      <ion-icon name="checkbox"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="background">
  <!--Inicio de eleccion de una preguntas-->
  <!--Pregunta 1-->
  <div class="container_form" *ngIf="cantidadPreguntasI == 1">
    <ion-list class="input1" input1="pregunta">
      <ion-item color="pink">
        <ion-text>Resultados correctos: {{restuladosCorrectos}}</ion-text>
      </ion-item>
    </ion-list>

    <ion-list class="input1" input1="pregunta">
      <ion-item color="pink">
        <ion-text>Resultados incorrectos: {{resultadosIncorrectos}}</ion-text>
      </ion-item>
    </ion-list>
    <!--OPCION SI ES CORRECTA-->
    <div *ngIf="check1 == 1">
      <ion-list id="input_1">
        <ion-item color="estilo2">
          <ion-text>{{pregunta1}}</ion-text>
        </ion-item>
      </ion-list>
      <ion-list id="input_c">
        <ion-item color="estilo2">
          <ion-text>Correcto: {{eleccionTexto1}}</ion-text>
        </ion-item>
      </ion-list>
    </div>
    <!--OPCION SI ES CORRECTA-->
        <!--OPCION SI ES CORRECTA-->
        <div *ngIf="check1 == 0">
          <ion-list id="input_1">
            <ion-item color="estilo2">
              <ion-text>{{pregunta1}}</ion-text>
            </ion-item>
          </ion-list>
          <ion-list id="input_i">
            <ion-item color="estilo2">
              <ion-text>Incorrecto: {{eleccionTexto1}}</ion-text>
            </ion-item>
          </ion-list>
          <ion-list id="input_i_c">
            <ion-item color="estilo2">
              <ion-text>La respuesta correcta es: {{correctaTexto1}}</ion-text>
            </ion-item>
          </ion-list>
        </div>
        <!--OPCION SI ES CORRECTA-->
  </div>
  <!--Fin de Pregunta 1-->
  <!--Fin de eleccion de una preguntas-->
</ion-content>
