<ion-content [fullscreen]="true" class="background" >
  <p id="subtitulo">
    Opciones
  </p>
    <ion-button shape="round" class="btn" color="estilo1" href="/mis-guias">

      <ion-icon name="archive" slot="start" class="icon_btn">
      </ion-icon>

      <p class="texto_btn">
      MIS GUIAS
      </p>
      
    </ion-button>
    <ion-button shape="round" class="btn" color="estilo2" href="/nombre-guia">
      <ion-icon name="add" class="icon_btn"></ion-icon>

      <p class="texto_btn">
      CREAR GUIA
      </p>
    </ion-button>    
    <ion-button shape="round" class="btn" color="estilo3" href="/informacion">
      <ion-icon name="information-circle" class="icon_btn"></ion-icon>
      <p class="texto_btn">
      INFORMACION
      </p>
    </ion-button> 
</ion-content>