<ion-header>
  <script src="Crear-guias.js"></script>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="nombre-guia"> </ion-back-button>
    </ion-buttons>

    <div class="titulo">
    <ion-title> MIS GUIAS </ion-title>
  </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="background" >

    <ion-button shape="round" class="btn" color="estilo2" >
      <p class="preguntas_btn" color="pink">
        {{cantidadPreguntasI}}
      </p>
      <p class="texto_btn">
      {{nombre}}
    </ion-button>    
</ion-content>